.header{
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
}
.bad{
    background-image:url();
}
.dad>p>span>a{
     text-decoration: none;
     color: black;
}
.aa>div>p>a{
    text-decoration: none;
    color: black;
}
.one>span>a{
    display: inline;
}
.two:hover >span>span>input{
    border-color: blue;
}
.four{
    display: flex;
justify-content: center; /* Centers horizontally */
align-items: center; /* Centers vertically */
}
.five>a,h6{
    text-decoration: none;
    color: white;
}
.four>h1{
    display: flex;
justify-content: center; /* Centers horizontally */
align-items: center; /* Centers vertically */
}
.six>h5{
    color: #EC268F;
    padding-top: 10px;
}
.seven>h6{
    color: black;
    font-weight: bold;
}
.eight{
        background-color: #fff;
        border: .5px solid #b3b3b3;
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-inline: 5px;
        border-radius: 7px;
        margin-top: -30px;
}
.nine{
    font-size: 25px;
    font-family: nunitoregular;
}
.ten{
    background-color: #fff;
    border: .5px solid #b3b3b3;
    width: 100%;
    height: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-inline: 5px;
    border-radius: 7px;
}

